*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #f1faff;
  color:#0d1717;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
.header img{
  width:40px;
  height: 40px;
  border-radius: 20px;
}
.header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
  width: 100vw;
  height: 60px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding:0px 5px;
}
.header h1{
  margin: 0px 10px;
}
.header h1 a,.header h1 a{
  text-decoration: none;
  color:#0d1717;
}
.header i{
  font-size: 30px;
  padding:10px;
}
.links{
  text-decoration: none;
color:#0d1717;
}