*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #f1faff;
  color:#0d1717;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
.header img{
  width:30px;
  height: 30px;
  border-radius: 15px;
}
.header{
  padding:0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
  width: 100vw;
  height: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header h1{
  width:auto;
  padding-right:90px;
  margin-left: 5px;
}
.header h1 a,.header h1 a{
  text-decoration: none;
  color:#0d1717;
}
.header i{
  font-size: 25px;
  padding:10px;
}
.links{
  text-decoration: none;
color:#0d1717;
}
.footer{
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:60px;
  bottom:0;
  padding:0;
}
.nav-btns{
  width:50%;
  height: 100%;
  border:none;
  background-color:#f1faff;
}
.nav-btns::hover{
  background-color:red;
  cursor:pointer;
}
.footer button{
  border-right: 1px solid rgba(0, 0, 0, 0.3);; 
}
.active{
  background-color:#0080FF;
  color:white;
}